.BarChart {
  position: relative;
  height: 200px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.BarChart .bars {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.BarChart .bars .bar {
  margin: 0 1px;
  background: lightgrey;
  flex-grow: 1;
  max-width: 40px;
  position: relative;
}

.BarChart .bars .bar span {
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  top: 100%;
  text-align: center;
  display: none;
}
.BarChart .bars .bar:hover {
  background: grey;
}
.BarChart .bars .bar:hover span {
  display: block;
}

.BarChart .bar.selected:hover,
.BarChart .bar.selected {
  background: #fa0;
}

.BarChart .y-caption {
  position: absolute;
  width: 100%;
  height: 0;
  border-top: 1px dashed black;
  margin: 0;
}

.BarChart .y-caption span {
  position: absolute;
  right: 100%;
  height: 2em;
  line-height: 2em;
  top: -1em;
  margin-right: 0.5em;
}
