.Filters .fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Filters .fields > div {
  width: calc(50% - 1em);
}
.Filters .fields > div:nth-child(2n + 1) {
  padding-right: 2em;
}
.Filters .fields input[type="range"] {
  width: 100%;
}
.Filters .actions {
  width: 100%;
  text-align: right;
}
.Filters .fields > div:nth-child(-n + 2) {
  padding-bottom: 1em;
  margin-bottom: 1rem;
  font-weight: bold;
  border-bottom: 1px solid grey;
}
