.Home .dropzone {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: grey;
  border-style: dashed;
  background-color: #fafafa;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.Home .flex-row {
  display: flex;
  align-items: baseline;
  margin: 0.5em 0;
}
.Home .flex-row.center {
  justify-content: center;
}
.Home .flex-row > * {
  margin: 0 0.4em;
}

iframe {
  outline: none;
  border: 1px solid #bdbdbd;
}

.files-list {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}
.files-list span {
  margin: 0 5px;
}
.logo {
  height: 80px;
  max-width: 250px;
  margin: 0 10px;
}
.Home .flex-row .logos {
  margin-top: 10px;
}
.Home hr {
  margin-top: 40px;
}
