.Viz {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.Viz .features {
  margin: 30px 30px 0;
  display: flex;
}
.Viz .features > *:not(:last-child) {
  margin-right: 0.5em;
}
.Viz .features .right {
  margin-left: auto;
}

.Viz .sigma-wrapper {
  position: relative;
  flex-grow: 1;
  margin: 15px 30px;
  border: 1px solid #bdbdbd;
  box-sizing: border-box;
}
.Viz .sigma-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
.Viz .sigma-container canvas {
  margin: 0;
}

.Viz .controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.Viz .controls > * {
  margin: 0 0 10px;
  z-index: 1;
}
.Viz .controls .btn-wrapper {
  background: white;
  font-size: 1.6em;
}
.Viz .controls .btn {
  padding: 0.8em;
  width: 3em;
  height: 3em;
  text-align: center;
}

.Viz .caption {
  text-align: right;
  margin: 0 30px 30px;
}
.Viz .caption > span {
  margin-left: 1em;
}
.Viz .caption .color-disc {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  vertical-align: sub;
}
