@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  margin: 0;
  font-family: Nunito, sans-serif;
}

#root {
  margin: 0;
}

input,
select {
  font-family: Nunito, sans-serif;
}

.center {
  text-align: center;
}

.btn:not([disabled]) {
  cursor: pointer;
}
.btn[disabled] {
  background: grey;
  border-color: grey;
  opacity: 1 !important;
}

.hg {
  box-shadow: inset 0 -0.4em #fa0;
}
